/*  your css code here. If applicable */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/* 	font-size: 14px; */
}
.container{
	background-color: #f5f5f5;
	padding: 30px;
}

.testimonial{
	background-color: white;
	margin: 10px;
	padding: 8px;
	border: 1px solid lightgray;
}
h1{
	margin: 10px;
}
.right{
	text-align: right;
	font-style: italic;
}
p{
	margin: 4px;
}